/* fonts */
@font-face {
  font-family: "Akkurat Regular";
  src: url(fonts/akkurat-regular.woff) format(woff);
  src: url(fonts/akkurat-regular.ttf) format(truetype); }

@font-face {
  font-family: "Akkurat Bold";
  src: url(fonts/akkurat-bold.woff) format(woff);
  src: url(fonts/akkurat-bold.ttf) format(truetype); }

/* my stuff */
.left {
  float: left; }

.right {
  float: right; }

.full {
  width: 100%; }

.threequarter {
  width: 75%; }

.half {
  width: 50%; }

.quarter {
  width: 25%; }

.center {
  display: block;
  margin: 0 auto; }

.clear {
  clear: both; }

/* some vars */
/* global */
body {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal; }

#wrapper {
  height: 100vh;
  margin-top: 80px;
  width: 100%; }

.xy {
  outline: 1px blue solid; }

h1 {
  font-size: 1.8em;
  font-weight: 700; }

code {
  background: #888;
  border-radius: 4px;
  color: #fff;
  font-family: "Montserrat";
  padding: 2px 4px; }

/* header */
header {
  background: #888;
  height: 80px;
  opacity: 0.98;
  position: fixed;
  top: 0;
  left: 0; }
  header .logo {
    height: 80px;
    padding-left: 2%;
    padding-right: 2%;
    width: 36%; }
    header .logo .title {
      font-size: 1.75em;
      letter-spacing: 1px;
      line-height: 1.5em;
      text-transform: uppercase; }
  header nav {
    height: 80px;
    text-align: right;
    padding-left: 2%;
    padding-right: 2%;
    width: 56%; }
    header nav a.category {
      font-size: 1.25em;
      line-height: 3.75em;
      text-decoration: none; }
    header nav a,
    header nav a:link,
    header nav a:visited,
    header nav a:active {
      color: #444; }
    header nav a:hover {
      color: #111; }

/* single post */
.singlePost .postContent {
  background: #eee;
  display: block;
  margin: auto;
  padding: 8%;
  position: absolute;
  top: 4%;
  left: 2%;
  width: 80%;
  z-index: 99; }
  .singlePost .postContent svg {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 99; }
  .singlePost .postContent img {
    width: 100%; }
  .singlePost .postContent p {
    line-height: 140%; }
  .singlePost .postContent .tags {
    margin-top: 1.75em; }

/* all posts */
.even {
  background: #ddd; }

.odd {
  background: #ccc; }

.list-item {
  height: 80px; }
  .list-item div {
    height: 80px; }
  .list-item .post-image {
    width: 25%; }
  .list-item .thumbnail {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer; }
  .list-item .post-title {
    padding-left: 2%;
    padding-right: 2%;
    width: 71%; }
    .list-item .post-title h1 {
      color: #333;
      cursor: pointer;
      line-height: 1.9em;
      font-weight: 400; }
  .list-item .ellipsified {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

/* contact */
.contact {
  background: #eee;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 2%;
  position: fixed;
  width: 96%; }
  .contact .about {
    margin-top: 5%; }
    .contact .about .photo {
      border-radius: 10%;
      width: 80%; }
    .contact .about h1 {
      line-height: 0em;
      margin-bottom: 1.25em; }
    .contact .about p {
      line-height: 150%; }
  .contact .social-media-item {
    margin-right: 1em; }
    .contact .social-media-item .icon-svg {
      opacity: 0.45;
      transition: opacity 0.3s ease;
      height: 60px;
      width: 60px; }
    .contact .social-media-item .icon-svg:hover {
      opacity: 0.6; }
    .contact .social-media-item a,
    .contact .social-media-item a:link,
    .contact .social-media-item a:visited,
    .contact .social-media-item a:active {
      color: #888; }
