/* fonts */
@font-face {
  font-family: "Akkurat Regular";
  src: url(fonts/akkurat-regular.woff) format(woff);
  src: url(fonts/akkurat-regular.ttf) format(truetype); }

@font-face {
  font-family: "Akkurat Bold";
  src: url(fonts/akkurat-bold.woff) format(woff);
  src: url(fonts/akkurat-bold.ttf) format(truetype); }

/* my stuff */
.left {
  float: left; }

.right {
  float: right; }

.full {
  width: 100%; }

.half {
  width: 50%; }

.quarter {
  width: 25%; }

.clear {
  clear: both; }

/* some vars */
/* global */
body {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal; }

#wrapper {
  height: 100vh;
  margin-top: 80px;
  width: 100%; }

.xy {
  outline: 1px blue solid; }

h1 {
  font-size: 1.8em;
  font-weight: 700; }

/* header */
header {
  background: #888;
  height: 80px;
  opacity: 0.98;
  position: fixed;
  top: 0;
  left: 0; }
  header .logo {
    height: 80px;
    padding-left: 2%;
    padding-right: 2%;
    width: 36%; }
    header .logo .title {
      font-size: 1.75em;
      letter-spacing: 1px;
      line-height: 1.5em;
      text-transform: uppercase; }
  header nav {
    height: 80px;
    text-align: right;
    padding-left: 2%;
    padding-right: 2%;
    width: 56%; }
    header nav a.category {
      font-size: 1.25em;
      line-height: 3.75em;
      text-decoration: none; }

/* main content */
.even {
  background: #ddd; }

.odd {
  background: #ccc; }

.list-item {
  height: 80px; }
  .list-item div {
    height: 80px; }
  .list-item .post-image {
    width: 25%; }
  .list-item .thumbnail {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; }
  .list-item .post-title {
    padding-left: 2%;
    padding-right: 2%;
    width: 71%; }
    .list-item .post-title h1 {
      line-height: 1.9em;
      font-weight: 400; }
  .list-item .ellipsified {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

/*
.list-item:nth-child(even) {
	background: #ddd;
}
.list-item:nth-child(odd) {
	background: #ccc;
}
*/
